<div id="note_<%=@id%>" class="p-2 fade-note-out" data-note="true">
  <div style="background-color: <%= @color%> !important;" class="max-w-sm w-full sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl mx-auto shadow-md border border-gray-200 rounded-lg overflow-hidden">
    <div class="relative p-4">
      <% if @image_key.present? %>
        <%= cl_image_tag(@image_key, :folder => "htmx_rails_keep", :class => "w-full h-auto rounded-lg") %>
      <% end %>
    </div>
    <div class="p-4">
      <div class="text-xl font-bold mb-2 whitespace-normal break-words"><%= @title %></div>
      <div class="text-base mb-4 whitespace-normal break-words"><%= @rich_content %></div>
      <div class="flex space-x-10">
        <%= button_tag(class:"bg-white p-2 rounded border-white", type: "button", data: {hx_target: "#modal-content", hx_get: edit_note_path(@id), hx_on_click:"console.log(event)", hx_swap: "innerHTML", modal_target: "note-modal", modal_show: "note-modal", modal_toggle: "note-modal"}) do %>
          <%= content_tag(:i, "", class: "cursor-pointer text-green-500 text-2xl fa-solid fa-pen-to-square") %>
        <% end %>
        <div class="flex items-center">
          <button type="button" hx-on:click="document.querySelector('#color-picker-<%=@id%>').click();" class="bg-white p-2 rounded border-white group relative w-10 h-10">
            <i class="fa-solid fa-palette text-2xl text-yellow-500"></i>
          </button>
          <input hx-target="#note_<%=@id%>" hx-swap="outerHTML" hx-trigger="change" hx-vals='js:{"color": event.target.value}' hx-patch=<%= color_note_path(@id) %> id="color-picker-<%=@id%>" type="color" style="opacity: 0; width: 0;height:0;position: absolute;">
        </div>
        <%= button_tag(class:"bg-white p-2 rounded border-white", type: "button", data: hx(confirm: "Are you sure you wish to delete this note?", delete: note_path(@id), swap: "delete swap:50ms", target: "#note_#{@id}")) do %>
          <%= content_tag(:i, "", class: "cursor-pointer text-red-500 text-2xl fa-regular fa-trash-can") %>
        <% end %>
      </div>
    </div>
  </div>
</div>