<!DOCTYPE html>
<html>
  <head>
    <title>RailsHtmxKeep Component Preview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="max-w-7xl p-10 mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
